
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:68.75%;
	margin:0;
	padding:0;
	color: #556F7C;
}

img { border:none; }

h1, h2, h3, h4 { margin:0; padding:0; font-family:"Lucida Sans Unicode"; color:#E45602; }

h1 a, h2 a, h3 a, h4 a{ color:#E45602; text-decoration:none; }

ul { margin:0; padding:0; list-style-type:none; }

p, form, input, fieldset, legend, label, dl, dt, dd { margin:0; padding:0; }

a { color:#556F7C; text-decoration:underline; }
/*lhbou: */
header div + div a{

        text-decoration: none;
        color:#E85D1A;
        font-family:arial,helvetica,clean,sans-serif;
        font-size: 103%;
}
header div + div {

    text-decoration: none;
    font-family:arial,helvetica,clean,sans-serif;
    font-size: 115%;
}
header div > div {
    font-size: 110%;
}
nav li {
	font-size: 105%;
}
nav li a{
        font-size: 122%;
        text-decoration: none;
}
nav li a, nav li span {
    line-height: 2.5em;
}
nav li + li {
    padding-left: 2px;
}
nav form {
        font-size: 120%;
}
nav input[type="search"] {
	width:11.5em;
}
footer > ul, footer .yui3-g{
        font-size: 120%;
}
footer  a {
    text-decoration: none;
}
footer .contact {
    color: #FFFFFF;
    font-size: 90%;
}
/***common*/
.block-title span a {
        text-decoration: none;
        color:#E45602;
}
.block-title h1{
           font-family: none;
           letter-spacing: normal;
       word-spacing: normal;
       color:#556F7C;
       font-family: arial,helvetica,clean,sans-serif;

}
.moreInfo:before{
    color: #E85D1A;
}
section .yui3-u-1-4 h2{
    font-family:arial,helvetica,clean,sans-serif;
}
#main_col + .homeContentLayer {
    background: #F7F7F7;
    float: left;
}
footer{
    width: 100%;
}
nav{
    margin-bottom: 1%;
}
footer .contact {
    font-size: 100%;
    font-family:arial,helvetica,clean,sans-serif
}
footer > ul, footer .yui3-g {
    font-size: 119%;
}